/* Micro clearfix via Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* Micro clearfix for IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Image replacement, from http://nicolasgallagher.com/another-css-image-replacement-technique/ */
.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
/* General body styles */
body {
	background: #fff;
	font-family: "Nimbus Sans L", "helvetica neue", arial, helvetica, sans-serif;
	font-size: 62.5%; /* use ems: 1.4em = 14px in the comp */
	margin: 0;
	padding: 0;
}

.inner {
	margin: 0 auto;
	width: 960px;
}

.inset {
	background: #fff;
	-webkit-border-radius: 0px 0px 1px 0px;
	border-radius: 0px 0px 1px 0px;
	-webkit-box-shadow: 2px 2px 2px 2px #e8e8e8;
	box-shadow: 2px 2px 2px 2px #e8e8e8;
	margin-right: 120px;
	padding-top: 60px;
	position: relative;
	z-index: 10;
}

.inset-container {
	float: right;
	padding-right: 35px;
	width: 930px;
}

/* unordered lists used for layout don't need bullets and the default padding.margin is zeroed out */
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}

/* remove default text-decoration on links */
a {
	text-decoration: none;
}

/* Italicizing the placeholder text in inputs -- see http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
input::-webkit-input-placeholder {
    font-style: italic;
}
input:-moz-placeholder {
    font-style: italic;
}
/* removes the dotted underline on abbr in Firefox */
abbr {
	border-bottom-style: none;
}
/* Serif font stack */
#tabs div ul p,
.engagement p.serif,
.footer .tagline,
.header .secondary-nav,
.in-issue .content p,
.js #perspectives button span,
.letter .name,
.letter h3 + p,
.masthead .publication-info,
.masthead .subhead,
.ribbon span,
.social h2 {
	font-family: Georgia, "Times New Roman," Times, serif;
}

/* Avenir font stack */
#tabs .tab,
#tabs div ul a,
.engagement h2,
.in-issue h2,
.in-issue h3,
.letter h3,
.letters h2,
.online-extras h2,
.perspectives h2 {
	font-family: "AvenirLTStd Medium", "Futura", "Myriad Pro";
}

/* MAIN */

#main {
	background: #f6f6f6 url("../images/lede-bg.png") repeat-x;
	border-top: solid 1px #d0d0cf;
}
