/* Micro clearfix via Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* Micro clearfix for IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/* Media object from Nicole Sullivan, http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
.media, .content {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Image replacement, from http://nicolasgallagher.com/another-css-image-replacement-technique/ */
.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
/* General body styles */
body {
	margin: 0;
	padding: 0;
	font-family: "Nimbus Sans L", "helvetica neue", arial, helvetica, sans-serif;
	font-size: 62.5%; /* use ems: 1.4em = 14px in the comp */
	background: #fff;
}

.inner {
	margin: 0 auto;
	width: 960px;
}

/* unordered lists used for layout don't need bullets */
ul li {
	list-style: none;
}

/* remove default text-decoration on links */
a {
	text-decoration: none;
}

/* Italicizing the placeholder text in inputs -- see http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
input::-webkit-input-placeholder {
    font-style: italic;
}
input:-moz-placeholder {
    font-style: italic;
}
/* Serif font stack */
.header .secondary-nav,
.footer .tagline,
.masthead .subhead,
.masthead .publication-info,
.in-issue .content p {
	font-family: Georgia, "Times New Roman," Times, serif;
}

/* MAIN */

#main {
	background: #f6f6f6;
	border-top: solid 1px #d0d0cf;
}
