/* Engagement boxes */

.engagement {
	border: solid 15px #eee;
	margin-top: 35px;
	width: 270px;
}
.engagement div {	
	padding: 21px 20px 25px;
}
.engagement div + div {
	border-top: solid 4px #eee;
}

.engagement h2 {
	font-size: 1.8em;
	text-transform: uppercase;
}
.engagement h3 {
	color: #e46f0c;
	font-size: 2em;
	margin: 0;
}
.engagement p {
	color: #323232;
	font-size: 1.4em;
	font-style: italic;
	line-height: 21px;
	margin-top: 9px;
}
.engagement p a {
	color: #e46f0c;
	font-style: normal;
}
.engagement form {
	border: solid 1px #dadada;
    -webkit-border-radius: 2px;
    border-radius: 2px;
	width: 190px;
}
.engagement input {
	border: none;
	margin: 0;
	padding: 6px 0;
	width: 150px;
}

.engagement button {
	background: #fff;
	border: none;
	color: #e46f0c;
	cursor: pointer;
	float: right;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0;
	padding: 4px 5px 5px 5px;
	text-transform: uppercase;
}
.engagement button:hover {
	background: #e46f0c;
	color: #fff;
}
.engagement .signup {
	background: url("../images/signup-bg.png") no-repeat 90% 5%;
}