/* IN-ISSUE */

.in-issue h2 {
	font-size: 2.3em;
	font-weight: bold;
	text-transform: uppercase;
}
/* Media object from Nicole Sullivan, http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
.media,
.content {
	overflow:hidden; 
	_overflow:visible;
	zoom:1;
}
.media .img {
	float:left;
	margin-right: 14px;
}
.media .img img{
	display:block;
}
.in-issue h3 {
	font-size: 2.1em;
	font-weight: normal;
	line-height: 1;
	margin: 0;
}
.in-issue h3 a {
	color: #00336b;
}
.in-issue h3 a:hover  {
	color: #E46F0C;
}
.in-issue li {
	float: left;
	margin-bottom: 30px;
	margin-right: 30px;
	width: 296px;
}
.in-issue li:nth-child(odd) {
	clear: left;
}
.in-issue li:nth-child(even) {
	margin-right: 0;
}

.in-issue .img img {
	border: solid 3px #e6eaee;
}
.in-issue .content p {
	font-size: 1.4em;
	margin: 0;
	padding-top: 5px;
}