#main {
	background: #f6f6f6 url("../images/lede-bg.png") repeat-x;
}

/* LEDE */

.lede {
	position: relative;
}
.masthead {
	padding-top: 40px;
}
.masthead h1 {
	background: url("../images/bulletin-bg.png") no-repeat;
	height:76px;
	padding-bottom: 25px;
	width: 582px;
}
.masthead p {
	color: #111412;
	display: inline;
}
.masthead .volume,
.masthead .subhead {
	font-style: italic;
}
.masthead .publication-info {
	font-size: 1.463em;
	font-family: "Franklin Gothic Book";
}
.masthead .volume {
	font-family: Cambria;
}
.masthead .subhead {
	font-family: Cambria;
	font-size: 2em;
	padding-left: 15px;
}
.lede .browse li,
.lede .features li {
	float: left;
}
.lede .browse {
	margin: 0;
	padding-left: 0;
	position: absolute;
	right: 0;
	top: 60px;
}
.lede .browse li {
    -webkit-box-shadow:  2px 3px 3px 0px rgba(1, 1, 1, .05);
    box-shadow:  2px 3px 3px 0px rgba(1, 1, 1, .05);
	background: #fff url("../images/browse-bg.png") repeat;
	margin-left: 9px;
	padding: 12px 10px;
	padding-left: 19px;
}
.lede .browse a {
	color: #333;
	background-position: 0 50%;
	background-repeat: no-repeat;
	font-family: "Franklin Gothic Medium";
	font-size: 1.3em;
	line-height: .9em;
	padding-left: 30px;
	display: table-cell;
	vertical-align: middle;
	width: 45px;
}
.lede .browse a:hover {
	color: #e16e0c;
}
.lede .browse a.toc {
	background-image: url("../images/toc-bg.png");
}
.lede .browse a.pdf {
	background-image: url("../images/pdf-bg.png");
}
.lede .browse a.archives {
	background-image: url("../images/archives-bg.png");
}

.features {
	padding: 0;
	padding-top: 35px;
}
.features li {
	background: #fff;
	margin-left: 15px;
	position: relative;
	width: 205px;
}
.features li.primary {
	margin-left: 0;
	width: 295px;
}
.features .primary .img {
	position: relative;
}
.features .primary .img:before {
	content:"COVER STORY";
	background: url("../images/cover-ribbon.png") no-repeat;
	width: 115px;
	height: 34px;
	position: absolute;
	color: #fff;
	left: -6px;
	top: 25px;
	font-size: 1.09em;
	text-align: center;
	padding-top: 7px;
}
.features a {
	color: #464646;
}
.features .content {
	padding: 25px 15px;
}
.features .content h3 {
	font-size: 1.9em;
}
.features .content p {
	font-size: 1.3em;
}
.features .content .read-more {
	background: url("../images/read-more-bg.png")no-repeat;
	bottom: 0;
	height: 28px;
	margin: 0;
	position: absolute;
	right: 0;
	width:29px;
}
.features .primary .content .read-more {
	background-image: url("../images/read-more-primary-bg.png");
}
.features li:hover {
	background: url("../images/features-hover.png") repeat;
	height: inherit;
}
.features li:hover .img {
	display: none;
}
.features li:hover a {
	color: #fff;
}
.features li:hover .read-more {
	display: none;
}