/* LEDE */

.lede {
	padding-bottom: 45px;
	position: relative;
}
.masthead {
	padding-top: 40px;
}
.masthead h1 {
	background: url("../images/bulletin-bg.png") no-repeat;
	height:76px;
	padding-bottom: 25px;
	width: 582px;
}
.masthead p {
	color: #111412;
	display: inline;
}
.masthead .volume,
.masthead .subhead {
	font-style: italic;
}
.masthead .publication-info {
	font-family: "Franklin Gothic Book";
	font-size: 1.4em;
}
.masthead .volume {
	font-family: Cambria;
}
.masthead .subhead {
	font-family: Cambria;
	font-size: 2em;
	padding-left: 15px;
}
.lede .browse li,
.lede .features li {
	float: left;
}
.lede .browse {
	position: absolute;
	right: 0;
	top: 60px;
	width: 355px;
}
.lede .browse li {
	background: #fff url("../images/browse-bg.png") repeat;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(1, 1, 1, .05);
    box-shadow: 2px 3px 3px 0px rgba(1, 1, 1, .05);
	margin-left: 9px;
	max-width: 83px;
	padding: 12px 10px 12px 19px;
}
.lede .browse li:first-child {
	margin-left: 0;
}
.lede .browse a {
	background-position: 0 50%;
	background-repeat: no-repeat;
	color: #333;
	float: right;
	font-family: "Franklin Gothic Medium";
	font-size: 1.3em;
	padding:0 8px 0 30px;
	width: 45px;
}
.lede .browse a:hover {
	color: #e16e0c;
}
.lede .browse a.toc {
	background-image: url("../images/toc-bg.png");
}
.lede .browse a.pdf {
	background-image: url("../images/pdf-bg.png");
}
.lede .browse a.archives {
	background-image: url("../images/archives-bg.png");
}
.features {
	margin-top: 35px;
	padding: 0;
}
.features li {
	background: #fff;
	margin-left: 15px;
	overflow: hidden;
	position: relative;
	width: 205px;
}
.features li.primary {
	margin-left: 0;
	width: 295px;
}
.features .img img {
	height: 190px;
	width: 205px;
}
.features .primary .img img{
	width: 295px;
}
.features .primary .img {
	position: relative;
	padding-bottom: 25px;
}
.features .primary .img:before {
	background: url("../images/cover-ribbon.png") no-repeat;
	color: #fff;
	content:"COVER STORY";
	font-size: 1.09em;
	height: 34px;
	left: -6px;
	padding-top: 7px;
	position: absolute;
	text-align: center;
	top: 25px;
	width: 115px;
}
.features a {
	color: #464646;
}
.features .content {
	padding: 0 15px 25px;
}
.features .content h3 {
	font-size: 1.9em;
}
.features .content p {
	font-size: 1.3em;
}
.features .content .ir.read-more {
	background: url("../images/read-more-bg.png")no-repeat;
	bottom: 0;
	height: 28px;
	margin: 0;
	position: absolute;
	right: 0;
	width:29px;
}
.features .primary .content .ir.read-more {
	background-image: url("../images/read-more-primary-bg.png");
}
.features li:hover {
	background: url("../images/features-hover.png") repeat;
	cursor: pointer;
	height: inherit;
}
.features li:hover .img {
	display: none;
}
.features li:hover .content h3 {
	font-family: "Franklin Gothic Medium", "Franklin Gothic Book";
	font-size: 2.7em;
	font-weight: normal;
}
.features li:hover .content .read-more {
	color: #fab965;
	font-size: 1.5em;
}
.features li:hover .content .ir.read-more {
	background-image: none;
	font-family: "Nimbus Sans L", "helvetica neue", arial, helvetica, sans-serif;
	position: relative;
	width: auto;
	padding-top: 15px;
}
.features li:hover a {
	color: #fff;
}