/* Letters */

.letters {
	float: left;
	margin-top: 40px;
}
.letters h2 {
	background: url("../images/perspectives-border.png") 0 100% repeat-x;
	font-size: 2.3em;
	font-weight: normal;
	margin: 0;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.letters .letter {
	float: left;
	width: 47.8494624%; /* 445/930=.478494624 */
	padding-right: 40px;
}
.letters .letter + .letter {
	padding-right: 0;
}
.letter p.byline {
	font-size: 1.4em;
}
.letter .title {
	text-transform: uppercase;
}
.letter .name {
	font-style: italic;
}
.letter h3 {
	font-size: 2.4em;
	font-weight: normal;
	margin: 15px 0;
}
.letter a {
	color: #1a3863;
}
.letter a:hover  {
	color: #E46F0C;
}
.letter h3 + p {
	font-size: 1.7em;
	font-style: italic;
	line-height: 25px;
}