/* Online Extras */
.online-extras {
	float: left;
	margin-bottom: 70px;
	position: relative;
	width: 930px;
}
.online-extras h2 {
	font-size: 2.3em;
	text-transform: uppercase;
}
.online-extras li {
	border-top: solid 8px #0066a4;
	float: left;
	margin-right: 14px;
	width: 222px;
}
/* .online-extras li:nth-child(4n+1) {
	clear: left;
	margin-left: 0;
	} */
.online-extras h3 {
	font-size: 1.8em;
	font-weight: normal;
	margin: 15px 0;
}
.online-extras a {
	color: #1a3863;
}
.online-extras li:hover,
.online-extras a:hover  {
	border-top-color: #E46F0C;
	color: #E46F0C;
}
.js .online-extras .wrapper {
	overflow: hidden;
}
.js .online-extras .carousel {
	position: relative;
	left: 0;
}
.online-extras .controls {
	display: none;
}
.js .online-extras .controls {
	display: block;
	position: absolute;
	top: 35px;
	right: 0;
	width: 150px;
}
.js .online-extras button {
	border: 0;
	background-color: #fff;
	color: #1A3863;
	font-size: 1.4em;
    cursor:pointer;
	float: left;
	font-style: italic;
	margin: 0;
	padding: 0;
	width: 50%;
}
.js .online-extras button:hover {
	color: #E46F0C;
}
.js .online-extras button.right {
	float: right;
}
