/* Perspectives carousel */

.perspectives-container {
	background: url("../images/perspectives-border.png") repeat;
	float: right;
	margin-top: 5px;
	width: 270px;
}
.perspectives {
	background: #fff;
	margin: 23px 0 26px 21px;
	padding: 35px 25px;
}
.perspectives h2 {
	font-size: 1.8em;
	text-transform: uppercase;
}
.perspectives .carousel {
	margin: 0;
	padding: 0;
}
.perspectives h3 {
	font-size: 1.8em;
	font-weight: normal
}
.perspectives h3 a {
	color: #e46f0c;
}
.perspectives p {
	color: #9e9e9e;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 18px;
}
.perspectives p.byline {
	color: #000;
	font-size: 1.3em;
	font-weight: normal;
	text-transform: uppercase;
}
.perspectives .author {
	font-style: italic;
}