/* Perspectives carousel */

.perspectives-container {
	background: url("../images/perspectives-border.png") repeat;
	overflow: hidden;
	width: 270px; /* remove when the layout is done */
}
#perspectives {
	background: #fff;
	margin: 23px 0 26px 21px;
	padding: 30px 0 35px;
}
#perspectives h2 {
	font-size: 1.8em;
	margin: 0;
	padding-left: 25px;
	text-transform: uppercase;
}
#perspectives h3 {
	font-size: 1.8em;
	font-weight: normal;
	margin: 15px 0 0;
}
#perspectives h3 a {
	color: #e46f0c;
}
#perspectives h3 a:hover {
	border-bottom: solid 1px #e46f0c;
}
#perspectives p {
	color: #9e9e9e;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 18px;
	margin: 0;
}
#perspectives p.byline {
	color: #000;
	font-size: 1.3em;
	font-weight: normal;
	margin: 7px 0 5px;
	text-transform: uppercase;
}
#perspectives .author {
	font-style: italic;
}
#perspectives .carousel {
    overflow: hidden;
}
#perspectives .carousel li {
    float: left;
	padding: 0 25px;
    width: 199px;
}
#perspectives .carousel:first-child {
	padding-left: 0;
}
#perspectives button {
	display: none;
}
.js #perspectives .controls {
	padding: 25px;
	padding-bottom: 0;
}
.js #perspectives button {
	border: 0;
	background-color: #fff;
	color: #E46F0C;
	display: block;
	font-size: 1.8em;
    cursor:pointer;
	float: left;
	margin: 0;
	padding: 0;
}
.js #perspectives button span {
	color: #fbb356;
	font-family: "Nimbus Sans L", "helvetica neue", arial, helvetica, sans-serif;
	font-size: .8em;
	font-style: italic;
}
.js #perspectives button.right {
	float: right;
}