/* Download ribbon */

.ribbon {
	position:relative;
	color:#fff;
	background:#e46f0c url("../images/download.png") 7px no-repeat;
	font-size:1.5em;
	float:left;
	clear:both;
	padding: 8px 15px 8px 40px;
	margin: 0 10px 10px 0;
	font-weight: 200;
}
.ribbon span {
	font-style: italic;
}

.ribbon:before {
	content:" ";
	position:absolute;
	bottom:-10px;
	right:0px;
	border: 5px solid #fbb356;
	border-bottom: 5px solid transparent;
	border-right: 5px solid transparent;	
}
.ribbon:hover {
	text-decoration: underline;
}

