/* Micro clearfix via Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* Micro clearfix for IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Image replacement, from http://nicolasgallagher.com/another-css-image-replacement-technique/ */
.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
/* General body styles */
body {
	margin: 0;
	padding: 0;
	font-family: "Nimbus Sans L", "helvetica neue", arial, helvetica, sans-serif;
	font-size: 62.5%; /* use ems: 1.4em = 14px in the comp */
	background: #fff;
}

.inner {
	margin: 0 auto;
	width: 960px;
}

/* unordered lists used for layout don't need bullets */
ul li {
	list-style: none;
}

/* remove default text-decoration on links */
a {
	text-decoration: none;
}

/* Italicizing the placeholder text in inputs -- see http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
input::-webkit-input-placeholder {
    font-style: italic;
}
input:-moz-placeholder {
    font-style: italic;
}

/* Skip link */
.skip-links {
	height:1px;
	left:-1000px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:-1000px;
	width:1px;
}

.skip-links:active,
.skip-links:focus,
.skip-links:hover {
	background-color:#093;
	color:#fff;
	font-size:1.6em;
	font-weight:bold;
	height:auto;
	left:0;
	overflow:auto;
	padding:5px;
	text-align: center;
	top:0;
	width:99%;
	z-index:100;
}


/* Serif font stack */
.header .secondary-nav,
.footer .tagline {
	font-family: Georgia, "Times New Roman," Times, serif;
}

/* HEADER */

.header .primary {
	background: url("../images/header-bg-1.png") repeat-x;
	font-size: 1.4em;
	height: 95px;
}
.header .primary a {
	color: #fff9f9;
}
.header .logo {
	float: left;
	padding-top: 40px;
}
.header li {
	float: left;
	padding: 0 10px 0 16px;
}
.header .primary-nav {
	float: right;
	height: 95px;
	margin: 0;
	padding-right: 20px;
}
.header .primary:after {
	content: "";
	background: url("../images/primary-nav-bg-2.png") no-repeat 100% 0;
	height: 95px;
	display: block;
	position: relative;
	top: -95px;
	right: 0;
}
.header .primary-nav li {
	background: url("../images/primary-nav-bg.png") no-repeat 0 50%;
	margin-top: 50px;
}
.header .primary-nav li:first-child {
	background: none;
}
.header .secondary {
	background: #f5f5f5;
}
.header .secondary .inner {
	border-top: solid 6px #093;
}
.header .secondary li {
	padding-top: 1px;
}
.header #search {
	float: right;
	padding: 10px 0;
}
.header #search input[type="search"] {
	-webkit-appearance: textfield;
	border: solid 1px #dadada;
	height: 2.4em;
	width: 170px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.header #search form {
	position: relative;
}
.header #search button {
	background: url(../images/search-button.png) no-repeat;
	border: 0;
	cursor: pointer;
	height: 24px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 1px;
	width: 30px;
}
.header .secondary-nav {
	float: right;
	font-size: 1.3em;
	font-style: italic;
	padding-right: 15px;
}
.header .secondary a {
	color: #313132;
	padding-top: 1px;
}


/* FAKE CLEAR */
.clear {
	height: 800px;
}
/* FOOTER */

.footer {
	background: #f6f6f6;
	position: relative;
}
.footer a {
	color: #2f2d2d;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 25px;
}
.footer .logo {
	left: 275px;
	position: relative;
	top: -70px;
	width: 180px;
	z-index: 10;
}
.footer-nav {
	left: 495px;
	position: relative;
	top: 105px;
	width: 140px;
}
.footer-nav:before,
.footer-nav:after {
	background: url("../images/footer-nav-shadow.png") no-repeat;
	content:"";
	display: block;
	height: 248px;
	position: absolute;
	top: 0;
	width: 16px;
}
.footer-nav:before {
	left: 0;
}
.footer-nav:after {
	right: 0;
}
.footer .tagline {
	color: #2f2d2d;
	font-size: 20px;
	font-style: italic;
	left: 705px;
	position: relative;
	top: -100px;
	width: 215px;
}
.footer .secondary {
	background: #313132;
}
.footer .legal {
	border-top: solid 6px #309A4E;
	color: #309A4E;
	display: block;
	font-size: 1.1em;
	height: 40px;
	padding-top: 25px;
	text-align: right;
}
.footer .flourish {
	bottom: 0;
	left: 0;
	position: absolute;
}