/* Articles widget */

#tabs { 
	float: left;
	margin-top: 50px;
	width: 615px;
}
#tabs .tablist {
	position: relative;
	z-index: 10;
}
#tabs .tab {
	float: left;
	font-size: 1.7em;
	padding: 0 10px 15px;
}
#tabs .tab:first-child {
	padding-left: 0;
}
#tabs .tab.active {
	border-bottom: 5px solid #0066a4;
	position: relative;
}
#tabs .tab.active span {
	background: white;
	display: block;
}
#tabs .tab.active:after {
	bottom: -19px;
	content: url("../images/tablist-arrow.png");
	left: 40%;
	position: absolute;
}
#tabs .tab a {
	color: #000;
}
#tabs .tab a:hover {
	color: #00336B;
}
#tabs div {
	background: #fbfbfb;
	border-top: solid 5px #c2c2c2;
    -webkit-box-shadow: 0px 2px 3px rgba(235, 235, 235, 1), -2px 2px 3px rgba(235, 235, 235, 1), 2px 2px 3px rgba(235, 235, 235, 1);
	box-shadow: 0px 2px 3px rgba(235, 235, 235, 1), -2px 2px 3px rgba(235, 235, 235, 1), 2px 2px 3px rgba(235, 235, 235, 1);
	margin-bottom: 20px;
	margin-top: -5px;
}
#tabs div ul {
	padding: 30px 45px 10px 20px;
}
#tabs div li {
	border-top: solid 1px #e3e2e3;
	padding-top: 15px;
}
#tabs div li:first-child {
	border-top: none;
	padding-top: 0;
}
#tabs div ul h3 {
	font-size: 2.1em;
	font-weight: normal;
	margin: 0;
}
#tabs div ul a {
	color: #003f5f;
}
#tabs div ul a:hover {
	color: #E46F0C;
}
#tabs div ul p {
	font-size: 1.4em;
	margin: 8px 0 20px;
}