<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="UTF-8">
<title>engagement | HHMI</title>
<link rel="stylesheet" href="../css/base.css" type="text/css">
<link rel="stylesheet" href="../css/engagement.css" type="text/css">
</head>
<body>
<div class="engagement">
	<div class="signup">
		<h2>Sign Up</h2>
		<h3>Subscribe to Bulletin</h3>
		<p>Get a free subscription by email or mail.</p>
		<form action="signup-confirm" method="post">
			<label class="visuallyhidden" for="bulletin-email">Email</label>
			<input type="email" placeholder="Type your email address..." name="bulletin-email" id="bulletin-email">
			<button type="submit" value="Go">Go</button>
		</form>
	</div>
	<div class="download">
		<h2>Download</h2>
		<h3>Bulletin for Your Ipad</h3>
		<p>Download HHMI Bulletin for your Ipad.</p>
		<p><a href="#">Download&nbsp;&rsaquo;</a></p>
	</div>
</div>
</body>
</html>