<div class="footer" role="content-info">
	<nav class="footer-nav" role="navigation">
		<ul>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">HHMI Bulletin</a></li>
			<li><a href="#">Biointeractive</a></li>
			<li><a href="#">Film Unit</a></li>
			<li><a href="#">Janelia Farm</a></li>
			<li><a href="#">HHMI Catalog</a></li>
		</ul>
	</nav>
	<p class="tagline">A philanthropy serving society through biomedical research and science education.</p>
	<p class="legal">&copy 2012 Howard Hughes Medical Institute</p>
</div>