<div id="footer" class="footer" role="content-info">
	<div class="primary">
		<ul class="footer-nav" role="navigation">
			<li><a href="#">Careers</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">HHMI Bulletin</a></li>
			<li><a href="#">Biointeractive</a></li>
			<li><a href="#">Film Unit</a></li>
			<li><a href="#">Janelia Farm</a></li>
			<li><a href="#">HHMI Catalog</a></li>
		</ul>
		<div class="logo"><a href="/"><img src="../images/footer-logo.png" alt="HHMI" /></a></div>
		<p class="tagline">A philanthropy serving society through biomedical research and science education.</p>
	</div><!-- end primary footer -->
	
	<div class="secondary">
		<p class="legal">&copy; 2012 Howard Hughes Medical Institute</p>
	</div><!--end secondary footer-->
	<div class="flourish"><img src="../images/footer-flourish-1.png" alt="" /></div>
</div>