<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="UTF-8">
<title>in this issue | HHMI</title>
<link rel="stylesheet" href="../css/base.css" type="text/css">
<link rel="stylesheet" href="../css/in-issue.css" type="text/css">
</head>
<body>
	<div class="in-issue">
	<h2 role="heading">In This Issue</h3>
	<ul class="cf">
		<li class="media">
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h3><a href="#">Game Changer</a></h3>
				<p>Once a professional tennis player, Alana Van Dervort now trains her discipline and focus on science.</p>
			</div>
		</li>
		<li class="media">
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h3><a href="#">Stirring Debate</a></h3>
				<p>Joe Thorton brings his view of science as a potent social and political force into the classroom.</p>
			</div>
		</li>
		<li class="media">
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h3><a href="#">Creating Internal Maps</a></h3>
				<p>Neuroscientists study how flies navigate their surroundings.</p>
			</div>
		</li>
		<li class="media">
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h3><a href="#">The Peripatetic Postdoc</a></h3>
				<p>Microbiologist Morgan Beeby gets his best thinking done on foot.</p>
			</div>
		</li>
		<li class="media">
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h3><a href="#">Helping Preemies</a></h3>
				<p>Treating myelin injuries and tracking brain cell development, David Rowitch tries to rescue the littlest patients.</p>
			</div>
		</li>
		<li class="media">
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h3><a href="#">A New Take on Retinoblastoma</a></h3>
				<p>Basic research findings upend old thoughts on this childhood tumor.</p>
			</div>
		</li>
	</ul>
</div>
<!--end in-issue -->
</body>
</html>