<div class="in-issue">
	<h3 role="heading">In This Issue</h3>
	<ul class="media cf">
		<li>
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h4><a href="#">Game Changer</a></h4>
				<p>Once a professional tennis player, Alana Van Dervort now trains her discipline and focus on science.</p>
			</div>
		</li>
		<li>
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h4><a href="#">Stirring Debate</a></h4>
				<p>Joe Thorton brings his view of science as a potent social and political force into the classroom.</p>
			</div>
		</li>
		<li>
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h4><a href="#">Creating Internal Maps</a></h4>
				<p>Neuroscientists study how flies navigate their surroundings.</p>
			</div>
		</li>
		<li>
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h4><a href="#">The Peripatetic Postdoc</a></h4>
				<p>Microbiologist Morgan Beeby gets his best thinking done on foot.</p>
			</div>
		</li>
		<li>
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h4><a href="#">Helping Preemies</a></h4>
				<p>Treating myelin injuries and tracking brain cell development, David Rowitch tries to rescue the littlest patients.</p>
			</div>
		</li>
		<li>
			<div class="img">
				<img src="http://placehold.it/92x97">
			</div>
			<div class="content">
				<h4><a href="#">A New Take on Retinoblastoma</a></h4>
				<p>Basic research findings upend old thoughts on this childhood tumor.</p>
			</div>
		</li>
	</ul>
</div>