<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="UTF-8">
<title>lede | HHMI</title>
<link rel="stylesheet" href="../css/base.css" type="text/css">
<link rel="stylesheet" href="../css/lede.css" type="text/css">
</head>
<body>
	<div id="main">
	<div class="lede cf inner">
		<div class="masthead">
			<h1 class="ir">HHMI Bulletin</h1>
			<p class="publication-info">[ November 2011 / <span class="volume">Vol. 24 No.4</span> ]</p>
			<p class="subhead">A Quarterly Magazine from Howard Hughes Medical Institute</p>
		</div>
		<!--end masthead -->
		<ul class="browse cf">
			<li><a href="#" class="toc">Table of Contents</a></li>
			<li><a href="#" class="pdf">Download PDF</a></li>
			<li><a href="#" class="archives">Back Issues</a></li>
		</ul>
		<ul class="features cf">
			<li class="primary">
				<a href="#">
				<div class="img">
					<img src="http://placehold.it/295x190" alt=""/>
				</div>
				<div class="content">
					<h3>Living Chemistry</h3>
					<p>At this very moment, your body is a living periodic table of elements. Chlorine atoms combine with hydrogen and churn through your stomach, breaking chemical bonds in the food you ate for lunch. Potassium pulses along your nerves, giving your fingers a sense of touch. Calcium makes up your bones and teeth; carbon is the backbone of your DNA; and oxygen seeps into your bloodstream with every breath you take.</p>
					<p class="ir read-more">Read more&nbsp;&rsaquo;</p>
				</div>
				</a>
			</li>
			<li class="secondary">
				<a href="#">
				<div class="img">
					<img src="http://placehold.it/205x190" alt="">
				</div>
				<div class="content">
					<h3>Have Microscope, Will Travel</h3>
					<p>Bi-Chang Chen spent the fifth day of his postdoctoral fellowship in a rented van, roaming the Wild West in search of a band of covered wagons.</p>
					<p class="ir read-more">Read more&nbsp;&rsaquo;</p>
				</div>
				</a>
			</li>
			<li class="secondary">
				<a href="#">
				<div class="img">
					<img src="http://placehold.it/205x190" alt="">
				</div>
				<div class="content">
					<h3>Star Search</h3>
					<p>As he sat in a remote field station in Madagascar, surroundded by dense rainforests, Mark Krasnow realized that life was like a grapefruit.</p>
					<p class="ir read-more">Read more&nbsp;&rsaquo;</p>
				</div>
				</a>
			</li>
			<li class="secondary">
				<a href="#">
				<div class="img">
					<img src="http://placehold.it/205x190" alt="">
				</div>
				<div class="content">
					<h3>Calling All Teachers</h3>
					<p>Lauren Miller planned to teach high school biology as well as health and nutrition. She knew that having hands-on experience with science would be helpful.</p>
					<p class="ir read-more">Read more&nbsp;&rsaquo;</p>
				</div>
				</a>
			</li>
		</ul>
	</div>
	<!-- end lede -->
	</div>
	<!-- end main -->
</body>
</html>
