<div class="letters cf">
	<h2>Letters</h2>
	<div class="letter">
		<p class="byline">[<span class="title">HHMI President</span> / <span class="name">Robert Tijan</span>]</p>
		<h3>Intellectual Ferment</h3>
		<p>Mixing biochemists, engineers, physicists, and mathematicians with biologists generates a productive intellectual environment.</p>
	</div>
	<div class="letter">
		<p class="byline">[<span class="title">HHMI Editor</span> / <span class="name">Irving Epstein</span>]</p>
		<h3>Science Fair</h3>
		<p>In the fifth grade I won a blue ribbon at my school's science fair. Truth be told, it wasn't much of a project but my teacher, Mrs. Barnes, saw something there.</p>
	</div>
</div>