<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="UTF-8">
<title>online extras | HHMI</title>
<link rel="stylesheet" href="../css/base.css" type="text/css">
<link rel="stylesheet" href="../css/online-extras.css" type="text/css">
<!--<script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/global.js"></script> -->
</head>
<body>
	<div class="inner">
<div class="online-extras">
	<h2>Online Extras</h2>
	<ul class="carousel cf">
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3>No. 1 Skin Development in C. elegans</h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3>No. 2 Dividing Chromosomes</h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3>No. 3 Sizing Up Preservice Stem Teacher Training Programs</h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3>No. 4 A 21st Century Cook Book</h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3>No. 5 Skin Development in C. elegans</h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3>No. 6 Dividing Chromosomes</h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3>No. 7 Sizing Up Preservice Stem Teacher Training Programs</h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3>No. 8 A 21st Century Cook Book</h3>
			</a>
		</li>
	</ul>
	<div class="controls cf">
		<button class="left">&larr;Prev</button>
		<button class="right">Next &rarr;</button>
	</div>
</div><!-- end online-extras -->
</div>
</body>
</html>

