<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="UTF-8">
<title>online extras | HHMI</title>
<link rel="stylesheet" href="../css/base.css" type="text/css">
<link rel="stylesheet" href="../css/online-extras.css" type="text/css">
</head>
<body>
	<div class="inner">
<div class="online-extras">
	<h2>Online Extras</h2>
	<ul class="cf">
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3><a href="#">Skin Development in C. elegans</a></h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3><a href="#">Dividing Chromosomes</a></h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3><a href="#">Sizing Up Preservice Stem Teacher Training Programs</a></h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3><a href="#">A 21st Century Cook Book</a></h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3><a href="#">Skin Development in C. elegans</a></h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3><a href="#">Dividing Chromosomes</a></h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3><a href="#">Sizing Up Preservice Stem Teacher Training Programs</a></h3>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="http://placehold.it/222x137" alt="">
				<h3><a href="#">A 21st Century Cook Book</a></h3>
			</a>
		</li>
	</ul>
</div><!-- end online-extras -->
</div>
</body>
</html>

