<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="UTF-8">
<title>perspectives | HHMI</title>
<link rel="stylesheet" href="../css/base.css" type="text/css">
<link rel="stylesheet" href="../css/perspectives.css" type="text/css">
</head>
<body>
<div class="perspectives-container cf">
	<div class="perspectives">
	<h2>Perspectives</h2>
	<ul class="carousel">
		<li class="article">
			<h3><a href="#">Changed Expectations</a></h3>
			<p class="byline">[HHMI / <span class="author">Carolyn Bertozzi</span>]</p>
			<p>Chemists trained in biology were once a rarity &mdash; now they're becoming the norm.</p>
		</li>
		<li class="article">
			<h3><a href="#">Great Expectations</a></h3>
			<p class="byline">[HHMI / <span class="author">David Castronovo</span>]</p>
			<p>Duis dui tortor, pharetra at cursus vitae, consectetur id metus.</p>
		</li>
		<li class="article">
			<h3><a href="#">Fallen Expectations</a></h3>
			<p class="byline">[HHMI / <span class="author">William Patton</span>]</p>
			<p>Chemists trained in biology were once a rarity &mdash; now they're becoming the norm.</p>
		</li>
	</ul>
	</div>
</div>
</body>
</html>
