<div class="perspectives">
	<h2>Perspectives</h2>
	<ul class="carousel">
		<li class="article">
			<h3><a href="#">Changed Expectations</a></h3>
			<p class="byline">[HHMI / <span class="author">Carolyn Bertozzi</span>]</p>
			<p>Chemists trained in biology were once a rarity &mdash; now they're becoming the norm.</p>
		</li>
		<li class="article">
			<h3><a href="#">Great Expectations</a></h3>
			<p class="byline">[HHMI / <span class="author">David Castronovo</span>]</p>
			<p>Duis dui tortor, pharetra at cursus vitae, consectetur id metus.</p>
		</li>
		<li class="article">
			<h3><a href="#">Fallen Expectations</a></h3>
			<p class="byline">[HHMI / <span class="author">William Patton</span>]</p>
			<p>Chemists trained in biology were once a rarity &mdash; now they're becoming the norm.</p>
		</li>
	</ul>
</div>