<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="UTF-8">
<title>social | HHMI</title>
<link rel="stylesheet" href="../css/base.css" type="text/css">
<link rel="stylesheet" href="../css/social.css" type="text/css">
</head>
<body>
<div class="social">
	<h2>Share</h2>
	<ul>
		<li><a href="#" class="facebook ir">Facebook</a></li>
		<li><a href="#" class="twitter ir">Twitter</a></li>
		<li><a href="#" class="linkedin ir">LinkedIn</a></li>
		<li><a href="#" class="email ir">Email</a></li>
		<li><a href="#" class="stumble ir">StumbleUpon</a></li>
	</ul>
</div><!-- social media buttons -->
</body>
</html>
