		<div id="tabs">
			<ul role="tablist">
				<li role="tab" aria-controls="tab1"><h2><a href="#tab1">Science Education</a></h2></li>
				<li role="tab" aria-controls="tab2"><h2><a href="#tab2">Toolbox</a></h2></li>
				<li role="tab" aria-controls="tab3"><h2><a href="#tab3">Institute News</a></h2></li>
				<li role="tab" aria-controls="tab4"><h2><a href="#tab4">Lab book</a></h2></li>
			</ul>
			<div id="tab1" role="tabpanel">
				<ul>
					<li>
						<h3><a href="#">Cosby sweater umami hoodie, semiotics esse banksy shoreditch banh mi salvia</a></h3>
						<p>Craft beer skateboard cosby sweater, nulla labore high life butcher gluten-free american apparel VHS velit</p>
					</li>
					<li>
						<h3><a href="#">Hella brooklyn pop-up forage 3 wolf moon, nostrud do quinoa</a></h3>
						<p>Godard beard tattooed velit blog id small batch pariatur.</p>
					</li>
					<li>
						<h3><a href="#">Wayfarers enim blog cillum raw denim dolor hella, id forage +1 non etsy est vice</a></h3>
						<p>Pour-over mixtape biodiesel direct trade beard.</p>
					</li>
				</ul>
			</div>
			<div id="tab2" role="tabpanel">
				<ul>
					<li>
						<h3><a href="#">Bushwick irony williamsburg, gluten-free nesciunt chambray exercitation squid thundercats enim voluptate nulla nostrud</a></h3>
						<p>Put a bird on it jean shorts pork belly, helvetica seitan commodo etsy placeat carles cred photo booth.</p>
					</li>
					<li>
						<h3><a href="#">Readymade aesthetic american apparel, bespoke nihil blog locavore gastropub letterpress vice enim</a></h3>
						<p>Nisi mumblecore DIY, cillum bespoke ethical chillwave sartorial dolore.</p>
					</li>
					<li>
						<h3><a href="#">Vinyl leggings do, odio pitchfork +1 dolor marfa selvage seitan</a></h3>
						<p>Flexitarian cardigan artisan butcher freegan enim, ullamco banh mi.</p>
					</li>
				</ul>
			</div>
			<div id="tab3" role="tabpanel">
				<ul>
					<li>
						<h3><a href="#">Experiment Seeks to Create Interdisciplinary Curricula</a></h3>
						<p>Four universities will collaborate to make easily-implemented interdisciplinary science courses.</p>
					</li>
					<li>
						<h3><a href="#">HHMI Offers International Student Research Fellowships</a></h3>
						<p>New fellowship supports 48 international graduate students.</p>
					</li>
					<li>
						<h3><a href="#">Getting Back to the Bench</a></h3>
						<p>Janeila Farm offers researchers the time and resources to focus on science.</p>
					</li>
				</ul>
			</div>
			<div id="tab4" role="tabpanel">
				<ul>
					<li>
						<h3><a href="#">Stumptown pinterest jean shorts pariatur gluten-free, typewriter sint vegan american apparel fingerstache before they sold out do</a></h3>
						<p>Laboris aliquip williamsburg you probably haven't heard of them.</p>
					</li>
					<li>
						<h3><a href="#">American apparel farm-to-table consectetur</a></h3>
						<p>Placeat eiusmod adipisicing vice helvetica, viral readymade food truck kale chips.</p>
					</li>
					<li>
						<h3><a href="#">Getting Back to the Bench</a></h3>
						<p>Polaroid semiotics ullamco, pork belly salvia food truck officia veniam dreamcatcher cupidatat flexitarian.</p>
					</li>
				</ul>
			</div>
		</div><!--end tab widget -->
