<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"><![endif]-->
<html lang="en">
<head>
<meta charset="UTF-8">
<title>widget | HHMI</title>
<link rel="stylesheet" href="../css/base.css" type="text/css">
<link rel="stylesheet" href="../css/widget.css" type="text/css">
</head>
<body>
		<div class="inner">
			<div id="tabs">
			<ul role="tablist" class="tablist cf">
				<li role="tab" class="tab" aria-controls="tab1"><span><a href="#tab1">Science Education</a></span></li>
				<li role="tab" class="tab" aria-controls="tab2"><span><a href="#tab2">Toolbox</a></span></li>
				<li role="tab" class="tab active" aria-controls="tab3"><span><a href="#tab3">Institute News</a></span></li>
				<li role="tab" class="tab" aria-controls="tab4"><span><a href="#tab4">Lab book</a></span></li>
			</ul>
			<div id="tab1" role="tabpanel">
				<h2 class="visuallyhidden">Science Education</h2>
				<ul>
					<li>
						<h3><a href="#">Cosby sweater umami hoodie</a></h3>
						<p>Craft beer skateboard cosby sweater, nulla labore high life butcher gluten-free american apparel VHS velit</p>
					</li>
					<li>
						<h3><a href="#">Hella brooklyn pop-up forage</a></h3>
						<p>Godard beard tattooed velit blog id small batch pariatur.</p>
					</li>
					<li>
						<h3><a href="#">Wayfarers enim blog cillum raw denim</a></h3>
						<p>Pour-over mixtape biodiesel direct trade beard.</p>
					</li>
				</ul>
			</div>
			<div id="tab2" role="tabpanel">
				<h2 class="visuallyhidden">Toolbox</h2>
				<ul>
					<li>
						<h3><a href="#">Bushwick irony williamsburg, gluten-free nesciunt </a></h3>
						<p>Put a bird on it jean shorts pork belly, helvetica seitan commodo etsy placeat carles cred photo booth.</p>
					</li>
					<li>
						<h3><a href="#">Readymade aesthetic american apparel</a></h3>
						<p>Nisi mumblecore DIY, cillum bespoke ethical chillwave sartorial dolore.</p>
					</li>
					<li>
						<h3><a href="#">Vinyl leggings do, odio pitchfork</a></h3>
						<p>Flexitarian cardigan artisan butcher freegan enim, ullamco banh mi.</p>
					</li>
				</ul>
			</div>
			<div id="tab3" role="tabpanel">
				<h2 class="visuallyhidden">Institute News</h2>
				<ul>
					<li>
						<h3><a href="#">Experiment Seeks to Create Interdisciplinary Curricula</a></h3>
						<p>Four universities will collaborate to make easily-implemented interdisciplinary science courses.</p>
					</li>
					<li>
						<h3><a href="#">HHMI Offers International Student Research Fellowships</a></h3>
						<p>New fellowship supports 48 international graduate students.</p>
					</li>
					<li>
						<h3><a href="#">Getting Back to the Bench</a></h3>
						<p>Janeila Farm offers researchers the time and resources to focus on science.</p>
					</li>
				</ul>
			</div>
			<div id="tab4" role="tabpanel">
				<h2 class="visuallyhidden">Lab book</h2>
				<ul>
					<li>
						<h3><a href="#">Stumptown pinterest jean shorts pariatur gluten-free</a></h3>
						<p>Laboris aliquip williamsburg you probably haven't heard of them.</p>
					</li>
					<li>
						<h3><a href="#">American apparel farm-to-table consectetur</a></h3>
						<p>Placeat eiusmod adipisicing vice helvetica, viral readymade food truck kale chips.</p>
					</li>
					<li>
						<h3><a href="#">Getting Back to the Bench</a></h3>
						<p>Polaroid semiotics ullamco, pork belly salvia food truck officia veniam dreamcatcher cupidatat flexitarian.</p>
					</li>
				</ul>
			</div>
		</div><!--end tab widget -->
		</div>
</body>
</html>